<connectionStrings>
  <add
    name="dbConnectionString"
    connectionString="Data Source=.;Initial Catalog=Paragliding booking system;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=kiran;Connect Timeout=120" 
    providerName="System.Data.SqlClient" 
  />
</connectionStrings>